---

ft8ctrl:
  db_name: /tmp/auto_ft8.sql
  wsjt_ip: 127.0.0.1
  wsjt_port: 2238
  follow_frequency: False
  purge_time: 4                 # In minutes
  # Specify the call_selector plugin, and check the plugin configuration
  call_selector: Any

#
# Selectors plugins.
#
Grid:
  regexp: '^[EF][NM].*'

Prefix:
  regexp: '^D2UY'

#
# Use "Reverse: True" for not in the list
#
CQZone:
  Reverse: False
  list:
    - 14
    - 11
    - 8
    - 4
    - 9

ITUZone:
  Reverse: True
  list:
    - 14
    - 11
    - 8
    - 4
    - 9

Country:
  Reverse: True
  list:
    - United States
    - Canada

Continent:
  list:
    - AF
